@{
    ViewBag.Title = "Home Page";
}
<br />

<p> @Html.ActionLink("Нажмите вот сюда", "Set", "Home"), чтобы сгенерировать бд.</p>

<br />
<p>Нажав на вкладку @Html.ActionLink("Факультеты", "Index", "Faculty") в верхнем меню, отобразится списком информация о факультетах.</p>
<p>Нажав кнопку "Подробнее" отобразиться более подробная информация о выбранном факультете.</p>

<br />

<p>
    Нажва на вкладку @Html.ActionLink("Преподаватели", "Index", "Teacher") в верхнем меню,
    отобразится списком информация о преподавателях во всех факультетах и кол-во студентов, которые его посещают.
</p>
<p>Также вы можете посмотреть подробную информацию о каждом преподавателе.</p>

<br />

<p>
    Нажав на вкладку @Html.ActionLink("Студенты", "Index", "Student") в верхнем меню,
    отобразится списком информация о студентах во всех факультетах и средний балл по всем предметам.
</p>
<p>Также вы можете посмотреть подробную информацию о каждом студенте.</p>

<br />

<p>
    Если у вас есть права преподавателя, то вы можете зарегистрировать студента,
    добавить, удалить дисцпилины, которые он будет изучать (можно добавить и удалить дисциплины, которые вы преподаете),
    добавить оценку, при условии, что вы ему преподаёте какой-либо предмет,
    удалять оценки можно в любом случае.
</p>

<br />

<p>
    Если у вас есть права декана, то вы можете зарегестрировать студента и преподавателя,
    добавить, удалить дисциплину преподавателю, удалить оценку студента,
    добавить группу и дисциплину на факультет, посмотреть, каких преподавателей посещают все стденты,
    либо каких преподавателей минимальное кол-во студентов.
</p>

<br />

<div class="jumbotron">
    <table class="table">
        <caption>Аккаунты</caption>
        <thead>
            <tr>
                <th>Логин</th>
                <th>Пароль</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>fbi@stu.ru</td>
                <td>qwe123</td>
                <td>Декан</td>
            </tr>
            <tr>
                <td>TarasovEB@mail.ru</td>
                <td>qwe123</td>
                <td>Преподаватель</td>
            </tr>
            <tr>
                <td>KorenkovaVV@mail.com</td>
                <td>qwe123</td>
                <td>Студент</td>
            </tr>
        </tbody>
    </table>
</div>
